section {
    padding: 14px 34px;
}
.innerSection {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.addBtn {
    padding: 30px;
    border-radius: 7px;
    border: 2px solid rgb(120, 181, 255);
    color: rgb(120, 181, 255);
    cursor: pointer;
    margin: 17px 11px 0 0;
    background-color: #FFFFFF;
}
.addBtn:active {
    position: relative;
    top: 4px;
    left: 4px;
    color: black;
    border: 2px solid rgb(0, 0, 0);
}
